:root {
    --main: #0c2344;
    --second: #b4ceff;
    --third: #71b5ff;
}

body {
    background-color: var(--main);
    overflow-x: hidden;
}

/* ANIMASI OPENING */
.topOpening {
    width: 100%;
    height: 50%;
    background-color: var(--third);
    position: fixed;
    animation: topAnimation 1.5s forwards;
    animation-delay: 1.2s;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 2000;
}

.bottomOpening {
    width: 100%;
    height: 50%;
    background-color: var(--third);
    position: fixed;
    bottom: 0;
    animation: bottomAnimation 1.5s forwards;
    animation-delay: 1.2s;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 2000;
}

@keyframes topAnimation {
    from {
        top: 0;
    }

    to {
        top: -50%;
        display: none;
    }
}

@keyframes bottomAnimation {
    from {
        bottom: 0;
    }

    to {
        bottom: -50%;
        display: none;
    }
}

/* ANIMASI OPENING END */

nav,
.dropdown-menu {
    background-color: var(--third);
}

.jumbotron {
    background-color: var(--second);
}

.jumbotron img {
    border: var(--third) solid 4px;
}

.aboutme {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 8em auto -1em;
}

.wave {
    position: relative;
    top: 1px;
}

.card-body {
    background-color: var(--third);
}

.zoom-card:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.date p {
    font-size: 0.7em;
    margin: 0;
}

.html-tag {
    background-color: orangered;
    color: white;
    padding: 0px 3px;
    border-radius: 4px;
    font-size: 0.8em;
}

.css-tag {
    background-color: dodgerblue;
    color: white;
    padding: 0px 3px;
    border-radius: 4px;
    font-size: 0.8em;
}

.js-tag {
    background-color: yellow;
    color: black;
    padding: 0px 3px;
    border-radius: 4px;
    font-size: 0.8em;
}

.json-tag {
    background-color: white;
    color: black;
    padding: 0px 3px;
    border-radius: 4px;
    font-size: 0.8em;
}

.contact {
    height: 75vh;
    background-color: var(--second);
}

.contact form {
    width: 35em;
}

/* ANIMASI KOTAK BERWARNA */
.container-kotak {
    width: 120%;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: -100px;
    z-index: 1;
    opacity: 0.8;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.kotak {
    width: 4em;
    height: 3em;
    margin: 1px -5px;
    background-color: var(--third);
    transition: 1s ease;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.kotak:hover {
    transition: 0s;
}

/* ANIMASI KOTAK BERWARNA END */

@media screen and (max-width: 768px) {
    .container-kotak {
        display: none;
    }

    .jumbotron img {
        width: 170px;
    }

    .contact form {
        width: 70%;
    }
}